@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

@deviceWidth: 480px;
body {
  background-color: #666;   
  font-family: "Nanum Gothic";
    
  // // 임시 설정
  // div {
  //   border: 1px solid #ddd;
  // }

  // 공통

  .section {
    .width-half {
      float: left;
      width: 50%;
    }
  }
  .g-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: @deviceWidth;
    min-height: 640px;
    background-color: #fff;
    font-size: 14px;
  }
  .header-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .header {
      margin: 0 auto;
      max-width: @deviceWidth;
      height: 100px;
      h1 {
        height: 64px;
        line-height: 50px;
        background-color: #fff;
      }
        .logo{
           
            
            a{
               text-indent: -9999px;
            display: block;
            
            background-image: url("/image/logo_Minimue.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size : 25%;
                
            }
        }
        
        
      ul {
        height: 50px;
        li {
          float: left;
          width: 20%;
          height: 50px;
          text-align: center;
          background-color: rgb(255,255,255);
          a {
            display: block;
            width: 100%;
            padding: 12px 0;
            line-height: 25px;
            text-indent: -9999px;
            
              
           
            }  
          }
        }
       
          
        .item01 {
          a {
              display: block;
              background-image: url("/image/3px_man.png");
                background-size: 30px;
              background-position: center;
              background-repeat: no-repeat;
        

          }
        } 
        .item02 {
          a {
              display: block;
              background-image: url("/image/3px_search.png");
                background-size: 27.5px;
              background-position: center;
              background-repeat: no-repeat;
        

          }
        }
          
        .item03 {
          a{
              display: block;
              background-image: url("/image/3px_camera3-12.png");
                background-size: 38.5px;
              background-position: center;
              background-repeat: no-repeat;
        

          }
        }

        .item04{
          a{
              display: block;
              background-image: url("/image/3px_album.png");
                background-size: 34px;
              background-position: center;
              background-repeat: no-repeat;
        

          }

        }
        .item05{
          a{
             
              display: block;
              background-image: url("/image/3px_setting.png");
                background-size: 32px;
              background-position: center;
              background-repeat: no-repeat;
        
          }

        }
          
        li:nth-child(2n) {
          background-color: rgb(255,255,255);
            border-top : 0px solid black;
            border-left : 0px solid rgb(230,230,230);
            border-right : 0px solid rgb(230,230,230);
            
        }
      
        
      }
    } // /.header
  } // /.header-box
  .c-wrapper {
      
      position: relative;
    margin-top: 114px;
      .content {
          
          position: relative;
//          width : 96%;
//            margin : 0 auto;
          background-color: rgb(200,200,200);
          padding-top: 0.1px;
      }
  } // /.c-wrapper
    /////////
  // 작은 요소들 (자기학생)
////////////
  img {
    max-width: 100%;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  
.tab-content02{
    margin : 10px;
            .artworks{
                column-count: 2;
                column-gap: 10px;

                figure{
                    
                    display: inline-block;
               
                    padding : 10px;
                    border : 1px solid black;
                    background-color : #fff;
                    margin-bottom : 10px;
                    box-shadow: 3px 3px 5px gray;
                    figcaption{
                        text-align: center;
                        text-decoration: none;
                        padding-top : 10px;
                        border-top : 1px solid black;
                                a{
                                    text-decoration: none;
                                    color : black;
                                }
                            }
                    img{
                        width :100%;
                    }
                        }            
                    }        
       
                }
    



  // ===================
  // 인트로
  // ===================
.intro {
    .header-box {
        display: none;
    }
    .c-wrapper {
        margin-top: 0;
        
        .content {
            background-color : #fff;
        }
    }
}

.intro-logo {
    position : relative;
    display: block;
    margin: 0px auto;
    margin-top : 80px;
    margin-bottom: 60px;
    width : 400px;
    height : 80px;
    background-image: url('/image/intro-image/logo-minimue.png');
    background-repeat: no-repeat;
    background-size : 400px;
    background-positon : center;
    text-indent: -9999px;
}


.instruction {
    position : relative;
    text-align: center;
    font-size : 25px;
    font-weight: bold;
    margin: 30px auto;
}


.sns-login {
  height: 120px;    
    
    ul{
        
    
        li {

            float : left;
            margin : 30px;
            text-indent: -9999px;



        }
        .item01 a{
            display : block;
            background-image: url('/image/intro-image/128x128twitter.png');
            background-size: 60px;
            background-position : center;
            background-repeat: no-repeat;
            width : 60px;
            height : 60px;
        }
        .item02 a{
            display : block;
            width : 60px;
            height : 60px;
            background-image: url('/image/intro-image/128x128facebook.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60px;
        }
        .item03 a{
            display : block;
            width : 60px;
            height : 60px;
            background-image: url('/image/intro-image/128x128kakaotalk.png');
            background-size : 60px;
            background-position : center;
            background-repeat: no-repeat;
        }
        .item04 a{
            display : block;
            width : 60px;
            height : 60px;
            background-image : url('/image/intro-image/128x128instagram.png');
            background-size : 60px;
            background-position : center;
            background-repeat: no-repeat;
            
        }
        
  }
}
.user-agreement {
    
    margin : 0 auto;
    text-align: center;
    line-height: 140%;
    span {
        font-weight: bold;
    }
}












  // ===================
  //  푸터
  // ===================
  .footer {
    display: none;
  }

  // ===================
  //  오늘의 수강생
  // ===================



  .students {
    position: relative;
    background-color: #fff; 
    width : 96%;
    margin: 0 auto;
    box-shadow: 4px 4px 2px grey;
    top : 20px;
   
    opacity: 0;
     transition : top 0.6s, opacity 0.6s; 
    
    h2 {
      padding: 5px 12px;
        padding-bottom: 6px;
        border-top : 1px solid #d2d2d2;
      background-color: #f3f3f3;
        height : 29px;
        font-size: 16px;
        font-weight: normal;
        margin-top : 20px;
    }
      
    ul {
      li {
        margin-bottom: 0px;
        padding-top : 5px;
        padding-bottom : 5px;
        border-bottom : 1px solid #eee;
        div {
          float: left;
        
        }
        .photo-box {
          width: 20%;
          background-color: ;
            
          img {
            display: block;
            width :57px;
            height : 57px;
            border-radius: 28.5px;
            margin: 0 auto;
          }
        }
        .info-box {
          width: 60%;
          a {
            
            display: block;
            height: 30px;
            line-height: 32px;
            padding-left: 00px;
            font-weight: bold;
            font-size : 16px;
              
            color : rgb(0,0,0);
            text-decoration: none;
              
          }
            p {
                margin-top : 4px;
                margin-left :00px;
                padding-left : 2px;
                width :35px;
                font-size: 12px;
                font-weight: normal;

                color: #7e7e84;

            }
        }
        .call-box {
          float: right;
          width: 10%;
            a {
                
                text-indent: 6000px;
                display: block;
               background-image: url("/image/button_call.png"); 
                width : 30px;
                height : 30px;
                border-radius: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 10px;
               
            }
            
        }
      }
    }
  } // /.students
.students.motion {
    top : 0px;
    opacity : 1;
    
    
}


.student-add-box {
    
    position : fixed;
   
    bottom : 30px;
    right : 30px;
    a {
        text-indent: -40000px;
        display: block;
         background-image: url("/image/button_addstudent.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width : 50px;
        height : 50px;
        border-radius: 25px;
        }
}



  // ===================
  // 학생 상세 페이지
  // ===================


  .s-profile {
    position: relative;
    margin: 10px 0 20px 0;
    padding: 20px 0;
    width: 100%;
    background-color: #eee;
    
    .profile-pic-box {

      margin : 0 30px;
      float: left;
        img{     
             border-radius: 25px;
            }
    }
    .student-info-box {

      float: left;
      width: 40%;

    }
    .contact-box {
        
      float: right;
      padding-top: 14px;
      width: 15%;
        margin-right :30px;

    }
    .student-modify-box {
      position: absolute;
      top: 5px;
      right: 5px;
      a {
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background-color: ;
        background-image: url('/image/icon_modify.png');
        background-size: 20px;
        background-repeat : no-repeat;
      }
    }
  } // /.s-profile
  .tab-selector {
    ul {
      li {
        float: left;
        width: 50%;
        a {
          display: block;
          width: 100%;
          padding: 10px 0;
          text-align: center;

        }
        &:nth-child(2n) {
          background-color: #ddd;
        }
        &:nth-child(2n+1) {
          background-color: #aaa;
        }
      }
    }
  } 

// /.tab-selector


  .box-container {
    .tab-box {

    }
    .info-box {
      padding: 10px 0;
      .summary-box {
        padding: 20px;
        ul {
          li {
            margin-bottom: 10px;
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
      .section {
        margin-bottom: 10px;
        padding: 20px;
        h2 {
          padding: 10px 10px;
          background-color: #ccc;
        }
        .s-total-all {
          p {
            padding: 10px;
          }
        }
        ul {
          padding-top: 10px;
          li {
            margin-bottom: 10px;
            padding: 0 10px;
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }

    } // /.info-box
    .artworks-box {
      ul {
        li {
          float: left;
          width: 50%;
          a {
            display: block;
            width: 100%;
            img {
              width: 100%;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }

/////////////////
// album_index 앨범앨범앨범
///////////
.album-box {

    margin : 10px ;
    .album-artworks{
        column-count: 2;
        column-gap: 10px;
        
        figure{
            display: inline-block;
            padding : 10px;
            border : 1px solid black;
            background-color : #fff;
            margin-bottom : 10px;
            box-shadow: 3px 3px 5px gray;
            figcaption{
                text-align: center;
                text-decoration: none;
                padding-top : 10px;
                border-top : 1px solid black;
                a{
                    text-decoration: none;
                    color : black;
                }
            }
            img{
                width :100%;
            }
        }
    }
}