body {
  background-color: #666;
  // // 임시 설정
  // div {
  //   border: 1px solid #ddd;
  // }

  // 공통

  .section {
    .width-half {
      float: left;
      width: 50%;
    }
  }
  .g-wrapper {
    margin: 0 auto;
    width: 360px;
    min-height: 640px;
    background-color: #fff;
    font-size: 14px;
  }
  .header {
    h1 {
      padding: 20px 10px;
    }
    ul {
      li {
        float: left;
        width: 20%;
        text-align: center;
        background-color: #ddd;
        a {
          display: block;
          width: 100%;
          padding: 12px 0;
        }
      }
      li:nth-child(2n) {
        background-color: #aaa;
      }
    }
  }

  img {
    max-width: 100%;
  }

  // 학생 상세 페이지
  .s-profile {
    position: relative;
    margin: 10px 0 20px 0;
    padding: 20px 0;
    width: 100%;
    background-color: #eee;
    .profile-pic-box {
      float: left;
      width: 25%;
    }
    .student-info-box {
      float: left;
      width: 45%;
    }
    .contact-box {
      float: left;
      padding-top: 20px;
      width: 30%;

    }
    .student-modify-box {
      position: absolute;
      top: 5px;
      right: 5px;
      a {
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background-color: #ccc;
      }
    }
  } // /.s-profile
  .tab-selector {
    ul {
      li {
        float: left;
        width: 50%;
        a {
          display: block;
          width: 100%;
          padding: 10px 0;
          text-align: center;

        }
        &:nth-child(2n) {
          background-color: #ddd;
        }
        &:nth-child(2n+1) {
          background-color: #aaa;
        }
      }
    }
  } // /.tab-selector
  .box-container {
    .tab-box {

    }
    .info-box {
      padding: 10px 0;
      .summary-box {
        padding: 20px;
        ul {
          li {
            margin-bottom: 10px;
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
      .section {
        margin-bottom: 10px;
        padding: 20px;
        .s-total-all {

        }
        .s-total-detail {
          ul {
            li {
              margin-bottom: 10px;
            }
            li:last-child {
              margin-bottom: 0;
            }
          }

        }
      }
    } // /.info-box
    .artworks-box {
      ul {
        li {
          float: left;
          width: 50%;
          a {
            display: block;
            width: 100%;
            img {
              width: 100%;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
