<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel='stylesheet/less' type='text/css' href='css/styless.less'>
	<script src="css/less.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Login</title>
</head>
<body>
<div class="g-wrapper">
  <div class="header">
    <!-- no data -->
  </div>
  <div class="c-wrapper">
    <div class="content">
      <div class="logo-box">
        <h1 class="logo"><a href="2-1.html">Louvre</a></h1>
      </div>
      <div class="login-box">
        <p>비밀번호를 받을 가입 E-mail 주소를 입력해주세요.</p>
        <form class="login" method="get" action="{{}}" role="">
          <label for="userid">ID(이메일주소)</label>
          <input type="text" id="userid">
          <button>가입하기</button>
        </form>
      </div>
    </div> <!-- /.content -->
  </div> <!-- /.c-wrapper -->
  <div class="footer">
    <!-- no data -->
  </div> <!-- /.footer -->
</div> <!-- /.g-wrapper -->
</body>
</html>
