<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel='stylesheet/less' type='text/css' href='css/styless.less'>
	<script src="css/less.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Login</title>
</head>
<body>
<div class="g-wrapper">
  <div class="header">
    <div class="logo-box">
      <h1 class="logo"><a href="2-1.html">Louvre</a></h1>
    </div>
    <ul>
      <li><a href="2-1.html">학생리스트</a></li>
      <li><a href="3-1.html">검색</a></li>
      <li><a href="2-6.html">촬영</a></li>
      <li><a href="5-1.html">앨범</a></li>
      <li><a href="6-1.html">설정</a></li>
    </ul>
  </div>
  <div class="c-wrapper">
    <div class="content">

      <form class="s-add" method="get" action="2-2.html" role="">
        <div class="section a-info">
          <label for="s-name">학생명</label>
          <input type="text" id="s-name">
        <div>
          어쩌구저쩌구
        <button>등록하기</button>
      </form>
    </div> <!-- /.content -->
  </div> <!-- /.c-wrapper -->
  <div class="footer">
    <!-- no data -->
  </div> <!-- /.footer -->
</div> <!-- /.g-wrapper -->
</body>
</html>
