<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel='stylesheet/less' type='text/css' href='css/styless.less'>
	<script src="css/less.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Login</title>
</head>
<body>
<div class="g-wrapper">
  <div class="header">
    <div class="logo-box">
      <h1 class="logo"><a href="2-1.html">Louvre</a></h1>
    </div>
    <ul>
      <li><a href="2-1.html">학생리스트</a></li>
      <li><a href="3-1.html">검색</a></li>
      <li><a href="2-6.html">촬영</a></li>
      <li><a href="5-1.html">앨범</a></li>
      <li><a href="6-1.html">설정</a></li>
    </ul>
  </div>
  <div class="c-wrapper">
    <div class="content">
      <div class="a-photo-box">
        <img src="http://placehold.it/640x480" alt="" class="a-photo">
        <a href="#" class="like-btn">좋아요!</a>
      </div>
      <div class="section a-info">
        작품명(유형) / 학생명 / #태그 #태그 / 2016.12.28.
      </div>
      <div class="section a-point">
        <div class="width-half a-engagement">
          몰입도 7.9
        </div>
        <div class="width-half a-point">
          완성도 5.6
        </div>
      </div>
      <div class="section a-comment-box">
        <div class="a-comment">
          한줄 코멘트
        </div>
      </div>

    </div> <!-- /.content -->
  </div> <!-- /.c-wrapper -->
  <div class="footer">
    <!-- no data -->
  </div> <!-- /.footer -->
</div> <!-- /.g-wrapper -->
</body>
</html>
